# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Ignore Rstudio project files
*.Rproj

# Ignore everything in archive
archive/*

# Ignore local files
__pycache__/*
.ipynb_checkpoints/*
.DS_Store

# Ignore the downloaded functions
R/Preprocess.R

# Ignore data
data/*
inst/extdata/*
input/*
output/*
pcd3_sub1/*

# But don't ignore some data
!inst/extdata/syn59834055.csv
!data/ano_ori.rds
!data/df_train_colnames.rds
!inst/extdata/ano_ori_chars_new_colnames_1742.csv
!inst/extdata/ano_ori_chars_new_cats_1742.csv
!inst/extdata/ano_ori_chars_new_conditions_1742.csv
!data/ano_ori_chars.rds
!inst/extdata/preterm_dmp.csv
!data/preterm_imp_set_rownames.rds
!inst/extdata/preterm_imp_predictions.csv
!inst/extdata/gdm_dmp.csv
!data/gdm_imp_set_rownames.rds
!inst/extdata/gdm_imp_predictions.csv
!inst/extdata/lga_dmp.csv
!data/lga_imp_set_rownames.rds
!inst/extdata/lga_imp_predictions.csv
!inst/extdata/chorioamnionitis_dmp.csv
!data/chorioamnionitis_imp_set_rownames.rds
!inst/extdata/chorioamnionitis_imp_predictions.csv
!data/ano_ori_ga_conds.rds
!data/ano_ori_ga_non_conds.rds
!data/var_ga.rds
!inst/extdata/ga_dmp.csv
!data/ga_est_set_rownames.rds
!inst/extdata/ga_est_predictions.csv
!inst/extdata/ga_est_coefficients.csv
!data/preterm_pred_set_rownames.rds
!inst/extdata/preterm_pred_prob.csv
!inst/extdata/preterm_pred_coefficients.csv
!data/gdm_pred_set_rownames.rds
!inst/extdata/gdm_pred_prob.csv
!inst/extdata/gdm_pred_coefficients.csv
!data/lga_pred_set_rownames.rds
!inst/extdata/lga_pred_prob.csv
!inst/extdata/lga_pred_coefficients.csv
!data/chorioamnionitis_pred_set_rownames.rds
!inst/extdata/chorioamnionitis_pred_prob.csv
!inst/extdata/chorioamnionitis_pred_coefficients.csv
!data/ga_resfull_rf_est_set_rownames.rds
!inst/extdata/ga_resfull_rf_est_predictions.csv
!inst/extdata/ga_res_conds_preterm_dmp.csv
!data/ga_res_conds_preterm_est_set_rownames.rds
!inst/extdata/ga_res_conds_preterm_est_predictions.csv
!inst/extdata/ga_res_conds_preterm_est_coefficients.csv
!inst/extdata/ga_res_conds_gdm_dmp.csv
!data/ga_res_conds_gdm_est_set_rownames.rds
!inst/extdata/ga_res_conds_gdm_est_predictions.csv
!inst/extdata/ga_res_conds_gdm_est_coefficients.csv
!inst/extdata/ga_res_conds_lga_dmp.csv
!data/ga_res_conds_lga_est_set_rownames.rds
!inst/extdata/ga_res_conds_lga_est_predictions.csv
!inst/extdata/ga_res_conds_lga_est_coefficients.csv
!inst/extdata/ga_res_conds_chorioamnionitis_dmp.csv
!data/ga_res_conds_chorioamnionitis_est_set_rownames.rds
!inst/extdata/ga_res_conds_chorioamnionitis_est_predictions.csv
!inst/extdata/ga_res_conds_chorioamnionitis_est_coefficients.csv
!data/ga_res_conds_pred_est_set_rownames.rds
!inst/extdata/ga_res_conds_pred_est_predictions.csv
!inst/extdata/ga_res_comb_pr_dmp.csv
!data/ga_res_comb_pr_est_set_rownames.rds
!inst/extdata/ga_res_comb_pr_est_predictions.csv
!inst/extdata/ga_res_comb_pr_est_coefficients.csv
!inst/extdata/ga_res_comb_tb_dmp.csv
!data/ga_res_comb_tb_est_set_rownames.rds
!inst/extdata/ga_res_comb_tb_est_predictions.csv
!inst/extdata/ga_res_comb_tb_est_coefficients.csv
!inst/extdata/ga_res_comb_est_coefficients.csv
!inst/extdata/leaderboard_best.csv
!inst/extdata/submission_info.csv
!inst/extdata/leaderboard_performance.csv
!data/ga_450k_est_eval.rds
!data/ga_res_comb_450k_est_eval.rds
!data/ga_res_conds_pred_450k_est_eval.rds
!data/ga_resfull_rf_450k_est_eval.rds
!data/ga_850k_est_eval.rds
!data/ga_res_comb_850k_est_eval.rds
!data/ga_res_conds_pred_850k_est_eval.rds
!data/ga_resfull_rf_850k_est_eval.rds
!data/Sample_IDs.rds
!data/probe_info*
!pcd3_sub1/Dockerfile
!pcd3_sub1/data_preprocessing.R
!pcd3_sub1/run_model_stage*
!pcd3_sub1/utils*